@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

Link {
    text-decoration: none;
}

.logo-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text-main {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.cards-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
    flex-wrap: wrap;
    gap: 15px;
}