@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

.card-container {
    min-width: 420px;
    height: 320px;
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.card-header {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer {
    background-color: #EBEBEB;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

.text-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.text-tick {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
}